.Meteor {
	color: white !important;
	text-shadow: 1px 1px 3px rgb(0 0 0 / 80%);

	.out-text,
	.title {
		color: white !important;
	}

	.square {
		.folder-icon {
			padding: 10px;
		}

		.shu-card .icon {
			border-radius: 50% !important;
		}

		.shu-card {
			padding: 9px !important;
			border-radius: 50% !important;
		}
	}
}

.v-theme--light .Meteor {
	--card-background-color: rgba(255 255 255 / 50%);
	--card-box-shadow: 0 2px 16px 3px rgba(0, 0, 0, 0.2);

	.shu-card {
		backdrop-filter: blur(25px) brightness(1.2);
	}
}

.v-theme--dark .Meteor {
	--card-background-color: rgba(0 0 0 / 20%) !important;

	.shu-card {
		backdrop-filter: blur(10px);
	}
}
