.list-group {
	width: calc(100% - var(--card-margin) * 2) !important;
	border-radius: var(--border);
	padding: var(--card-margin);
	box-shadow: var(--box-shadow);
	background-color: #fff;
	margin: var(--card-margin);
	--card-background-color: #f5f5f5;
}
.square .logo {
	box-shadow: var(--box-shadow);
}

.theme--dark .list-group {
    background-color: #000;
	--card-background-color: #1e1e1e;
}
