::root {
	--flow-margin-top: 32px;
}

.theme {
	--card-border-radius: 8px;
	--card-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	--card-box-shadow-hover: 0 12px 25px 5px rgba(0, 0, 0, 0.2);
	--card-background-color: #fff;
	--card-font-color: #555;
}

.theme--dark .theme {
	--card-background-color: rgb(50, 50, 50);
	--card-font-color: #ddd;
}

.space {
}

.flow {
}

.module {
}

.shu-card {
	border-radius: var(--card-border-radius);
	background-color: var(--card-background-color);
}

.theme--light .shu-card {
	color: rgba(0, 0, 0, 0.87);
}

.theme--dark .shu-card {
	color: #fff;
}

.out-text {
	filter: drop-shadow(0 0 5px rgb(120 120 120));
}

.text-primary {
	color: inherit;
}

.text-secondary {
	color: inherit;
	opacity: 0.7;
}

.v-dialog {
	--card-border-radius: 8px;
	--card-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	--card-box-shadow-hover: 0 12px 25px 5px rgba(0, 0, 0, 0.2);
	--card-background-color: #fff;
	--card-font-color: #555;
}

.theme--dark .v-dialog {
	--card-background-color: #262626;
	--card-font-color: #ddd;
}
