.v-theme--light .Fantasy .space {
	background-color: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(20px);
}

.v-theme--dark .Fantasy .space {
	background-color: rgba(0, 0, 0, 0.85)!important;
	backdrop-filter: blur(20px);
}

.Fantasy .space {
	height: 100%;
	min-height: 100vh;
}

.Fantasy .shu-card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}

.Fantasy .out-text {
	filter: none;
}

.Fantasy .square .icon {
	border-radius: 50%;
}
