.Plain .space {
	background-color: #f5f5f5;
	height: 100%;
	min-height: 100vh;
}

.v-theme--dark .Plain .space {
	background-color: #171717;
}

.Plain .out-text {
	filter: none;
}

.Plain .square .icon {
	border-radius: 50%;
}
