.theme--light .Fantasy .bookmarks {
	background-color: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(20px);
}
.theme--dark .Fantasy .bookmarks {
	background-color: rgba(0, 0, 0, 0.85)!important;
	backdrop-filter: blur(20px);
}
.Fantasy .bookmarks {
	height: 100%;
}
.Fantasy .homey-card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}