.Group .group {
	border-radius: var(--border-radius);
	padding: calc(var(--card-margin) * 2);
	box-shadow: var(--box-shadow);
	background-color: #fff;
	margin: 0;
	--card-background-color: #f5f5f5;
}

.Group .square .logo {
	box-shadow: var(--box-shadow);
}

.Group.theme--dark .group {
	--card-background-color: #1e1e1e;
    background-color: #000;
	overflow: hidden;
}
