.Hyper {
	--card-border-radius: 20px;
}

.theme--light .Hyper {
	--card-background-color: rgba(255, 255, 255, 80%);
}

.theme--dark .Hyper {
	--card-background-color: rgba(0, 0, 0, 0.2);
}

.Hyper .out-text {
	color: white !important;
}

.Hyper .shu-card {
	backdrop-filter: blur(40px) brightness(1.5);
}

.theme--dark .Hyper .shu-card {
	backdrop-filter: blur(40px);
}
